<div class="container my-5">

  <div class="row">
    <div class="col-12 col-md-4">

      <div class="container row">
        <a class="" href="/">
          <img src="/assets/bVikingFullBlack-logo-150x150.png" alt="bvkingimgz_image">
          <span class="bvkingimgz_image_text">imgz</span>
        </a>
      </div>

    </div>
    <div class="col-12 col-md-8">
      <h3>Bvikingimgz</h3>
      <div class="my-3">
        <div><span class="badge badge-default col-2">{{usersCounter | async}}</span><span class="col-10">users</span></div>
        <div><span class="badge badge-default col-2">{{imagesCounter | async}}</span><span class="col-10">images</span></div>
        <div><span class="badge badge-default col-2">{{commentsCounter | async}}</span><span class="col-10">comments</span></div>
      </div>
      <p>Bvikingimgz - Register and share your images... and don't forget to leave a comment or a like :) </p></div>
  </div>
</div>
