<app-navbar (showModalLoginEmit)="open(content)" (signOutEmit)="signOut()"></app-navbar>
<app-error></app-error>
<app-header></app-header>

<span class="fa fa-user-circle-o fa-lg ctaBtn" aria-hidden="true"
      (click)="toggleUserFn()"
      *ngIf="(users_role | async) == 'admin' "
>Toggle Admin / Images area
</span>

<app-users *ngIf="toggleUser"></app-users>

<app-images
  *ngIf="!toggleUser"
  (addRandomImageEmit)="addRandomImage()"
  (removeImageEmit)="removeImage($event)"
  (incrementLikeEmit)="incrementLike($event)"
  (decrementLikeEmit)="decrementLike($event)"
  (updateImageModalEmit)="updateImageModal(content_image, $event)"
></app-images>
<app-footer (removeLoggedinUserFBEmit)="removeLoggedinUserFB()"></app-footer>

<ng-template #content_image let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">{{updateImageModalObj.title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <img src={{updateImageModalObj.src}} alt="" />
  </div>
  <div class="modal-footer">
    <div class="row text-center">
      <span class="fa fa-comment-o fa-lg col-4" aria-hidden="true">{{updateImageModalObj.comments_tot}}</span>
      <span class="fa fa-thumbs-o-up fa-lg col-4" aria-hidden="true">{{updateImageModalObj.thumbs_up_tot}}</span>
      <span class="fa fa-thumbs-o-down fa-lg col-4" aria-hidden="true">{{updateImageModalObj.thumbs_down_tot}}</span>
    </div>
    <form class="row my-4 mx-4" [formGroup]="imageModalForm" (ngSubmit)="onSubmitImageModalForm()">
      <input type="text" class="form-control col-12" placeholder="please, leave a comment" formControlName="text" />
      <button type="submit" class="form-control postACommentBtn" [disabled]="!imageModalForm.valid">Post a comment</button>
    </form>
    <button class="btn btn-primary col-12 ShowAllCommentsBtn" (click)="getComments(updateImageModalObj.imgid)">Show all comments</button>
    <div class="col-12 my-4 commentParent">
      <p *ngFor="let comment of comments | async">
        <span class="commentTimestamp">{{comment.timestampRaw}}</span>
        <span class="commentAuthor">{{comment.email}}</span>
        <span class="commentText">{{comment.text}}</span>

        <input type="text" class="form-control updateCommentInput" placeholder="please, update your comment here"
               *ngIf="toggleUpdateInputFlag"
               value={{comment.text}}
               [attr.users_stringified]="users_stringified | async"
               (keyup.enter)="updateComment(comment, $event)"
        >

        <span class="fa fa-times removeCommentBtn" aria-hidden="true" title="Remove comment"
              [attr.users_stringified]="users_stringified | async"
              (click)="removeComment(comment, $event)"></span>
        <span class="fa fa-refresh removeCommentBtn" aria-hidden="true" title="Update comment" (click)="toggleUpdateInput()"></span>
      </p>
    </div>
  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Login</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">

      <div class="form-group row" [ngClass]="(loginForm.controls['email'].errors)?'has-danger':'has-success'">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control form-control-warning" formControlName="email" name="email" id="email">
          <div class="form-control-feedback"
               *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine">Min 3 characters
          </div>
          <div class="form-control-feedback" *ngIf="loginForm.controls['email'].status === 'VALID'">email is ok</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="(loginForm.controls['password'].errors)?'has-danger':'has-success'">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control form-control-warning" formControlName="password" name="password"
                 id="password">
          <div class="form-control-feedback" *ngIf="loginForm.controls['password'].errors">Min 3 characters</div>
          <div class="form-control-feedback" *ngIf="loginForm.controls['password'].status === 'VALID'">password is ok
          </div>
          <div *ngIf="loginForm.controls['password'].errors">{{ loginForm.controls['password'].errors.backend }}</div>
        </div>
      </div>

      <button type="submit" class="form-control" [disabled]="!loginForm.valid">Submit</button>

    </form>

  </div>
  <div class="modal-footer">
    <div class="row px-3">
      <button class="btn btn-primary col-12 py-4" (click)="loginOAuth('github')">Login with Github</button>
      <button class="btn btn-primary col-12 py-4" (click)="loginOAuth('twitter')">Login with Twitter</button>
    </div>
  </div>
</ng-template>

<!--<button (click)="incrementCounter()"> Click me redux counter: {{ counters | async }} </button>-->
