<app-navbar (showModalLoginEmit)="open(content)" (signOutEmit)="signOut()"></app-navbar>

<button (click)="incrementCounter()"> Click me redux counter: {{ counters | async }} </button>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Login</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">

      <div class="form-group row" [ngClass]="(loginForm.controls['email'].errors)?'has-danger':'has-success'">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control form-control-warning" formControlName="email" name="email" id="email">
          <div class="form-control-feedback"
               *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine">Min 3 characters
          </div>
          <div class="form-control-feedback" *ngIf="loginForm.controls['email'].status === 'VALID'">email is ok</div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="(loginForm.controls['password'].errors)?'has-danger':'has-success'">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control form-control-warning" formControlName="password" name="password"
                 id="password">
          <div class="form-control-feedback" *ngIf="loginForm.controls['password'].errors">Min 3 characters</div>
          <div class="form-control-feedback" *ngIf="loginForm.controls['password'].status === 'VALID'">password is ok
          </div>
          <div *ngIf="loginForm.controls['password'].errors">{{ loginForm.controls['password'].errors.backend }}</div>
        </div>
      </div>

      <button type="submit" class="form-control" [disabled]="!loginForm.valid">Submit</button>

    </form>

  </div>
  <div class="modal-footer">
    <div class="row px-3">
      <button class="btn btn-primary col-12 py-4" (click)="loginOAuth('github')">Login with Github</button>
      <button class="btn btn-primary col-12 py-4" (click)="loginOAuth('twitter')">Login with Twitter</button>
    </div>
  </div>
</ng-template>
